.bgbody {
    background-color: #373737;
}

.child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-login {
    margin-left: 73%;
}

.btn-continua {
    margin-left: 30%;
}

.btn-registrati {
    margin-left: 70%;
}

.hide {
    display: none;
}

.bottom-nav {
    background-color: #31B294;
    height: 100%;
    cursor: pointer;
}

.middle-nav {
    background-color: #636363;
    cursor: pointer;
}

.centra-icona {
    margin: 0 auto;
}

.img-nav {
    left: 58.5%;
}

.selected {
    color:#A9A9A9;
}

.cerca {
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    background-color: #636363;
    color:#A9A9A9;
    border: none;
    outline: none;
    width: 96%;
    display: block;
    margin: 12px auto;
    height: 40px;
    padding-left: 22px;
}

.search-result{
    color: #fff;
    background-color: #636363;
    cursor: pointer;
    border: none;
    outline: none;
    width: 96%;
    display: block;
    margin: auto;
    height: 40px;
}

.search-result:hover {
    background-color: #757575;
}

.carousel-indicators li {
    box-sizing: content-box;
    width: 10px; /* change width */
    height: 10px; /* change height */
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 100%; /* add border-radius */
    background-color: #fff;
    display: flex;
}

.nome-utente {
    font-weight: bold;
    font-size: x-large;
    color: #A9A9A9;
    padding-top: 1%;
    margin-left: 3%;
}

.logo {
    font-family: "Mustard Smile";
    color: #A9A9A9;
}

.logo-centrato {
    font-family: "Mustard Smile";
    color: #A9A9A9;
    margin-left: 25%;
}

.button {
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    background-color: #31B294;
    border: none;
    outline: none;
}

.button:hover {
    background-color: #299279;
}

.Segui {
    width: 100px;
    height: 30px;
    margin-top: 10%;
    margin-left: 19.3%;
    font-size: large;
    padding: 0;
    vertical-align: middle;
}

.modifica-profilo {
    position: relative;
    padding-top: 1%;
    margin-left: 3%;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border: solid 2px;
    border-color: #31B294;
    color: #31B294;
    background-color: #373737;
    padding: 0;
    vertical-align: middle;
    height: 35px;
}

.modifica-profilo:hover {
    color: #373737;
    background-color: #31B294;
}

.bio-title {
    font-weight: bold;
    font-size: x-large;
    position: relative;
    top: 15%;
}

.bio {
    color: #A9A9A9;
    padding-top: 1%;
    margin-left: 3%;
    position: relative;
    right:20px; 
}

.biobio{
    font-size: medium;
}

.logout-button {
    float: right;
    font-size: x-large;
    padding-top: 1%;
    color: #31B294;
}

.logout-button:hover {
    cursor: pointer;
    color: #299279;
}


.filter-dark-grey{
    filter: invert(14%) sepia(1%) saturate(0%) hue-rotate(317deg) brightness(96%) contrast(102%);
}

.filter-grey{
    filter: invert(84%) sepia(0%) saturate(0%) hue-rotate(220deg) brightness(82%) contrast(86%);
}

.barrell {
    position: absolute;
    object-fit: contain;
    width: 36px;
    height: 36px;
    margin-left: 15%;
    margin-top: 5px;
}

.Seguito {
    background-color: #373737;
    border: solid 2px;
    border-color: #31B294;
    color: #31B294;
    width: 100px;
    height: 30px;
    margin-top: 10%;
    margin-left: 19.3%;
    font-size: large;
    padding: 0;
    vertical-align: middle;
}

.close {
    float: right;
    font-size: xx-large;
    cursor: pointer;
    margin-bottom: 1%;
}

.cambia-password {
    color: #31B294;
    font-weight: bold;
    cursor: pointer;
}

.cambia-password:hover {
    color: #299279;
}

.text {
    color: #A9A9A9;
}

.green-row {
    height: 1px;
    background: #31B294;
    width: 95%;
}

.campo {
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    background-color: #636363;
    color: #A9A9A9;
    border: none;
    outline: none;
    margin-bottom: 2%;
    padding-left: 18px;
}

.back-arrow {
    float: right;
    font-size: x-large;
    margin-top: 1%;
    margin-right: 2%;
    cursor: pointer;
    color: #A9A9A9;
}

.user-list {
    /*background-color: #636363;
    width: 96%;
    margin: 12px auto;
    height: 40px;
    padding-left: 22px;*/
}

ul {
    list-style: none;
}

ul li input {
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    background-color: #636363;
    color: #A9A9A9;
    border: none;
    outline: none;
    margin-bottom: 7%;
    padding-left: 18px;
}

ul li input:focus {
    color: #A9A9A9
}

::-webkit-input-placeholder {
    /* WebKit browsers (Safari, Google Chrome, Opera 15+) */
    color: #A9A9A9;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #A9A9A9;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #A9A9A9;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #A9A9A9;
}

ul li button {
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    background-color: #31B294;
    border: none;
    outline: none;
}

ul li button:hover {
    background-color: #299279;
}

li i {
    color: #A9A9A9;
}

ul>div {
    color: #A9A9A9;
}

a i {
    margin-left: 48%;
    color: #373737;
}

div > i {
    color: #A9A9A9;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  {
    left:  5%;
    margin: 10.5px auto;
}

.profile-img-container {
    background: #373737;
    border-radius: 50%;
    background-size: 130%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-left: 10%;
}

.preview-img-container {
    background: #373737;
    border-radius: 50%;
    background-size: 130%;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.img-crop {
    display: block;
    max-width: 100%;
}
.preview {
    overflow: hidden;
    margin: 10px;
    border: 1px solid;
}

.input-label {
    margin-right: 1%;
}

div[name="stats"] {
    font-weight: bold;
    font-size: x-large;
    color: #A9A9A9;
    padding-top: 1%;
    margin-left: 3%;
    text-align: center;
    position: relative;
    right:20px; 
}

.bottom-selection {
    border-bottom: solid 2px;
    border-color: #31B294;
}

.input-file-label {
    border: 1px solid #636363;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    text-align: center;
    width: 110%;
    margin: 15px 5px;
    margin-bottom: 20%;
}
  
  /* file upload button hover state */
.input-file-label:hover {
    background-color: #299279;
    color: #373737;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
    height: 10px;
    background-color: transparent;
}
::-webkit-scrollbar-track-piece  {
    background-color: #eeeeee;
    -webkit-border-radius: 16px;
}
::-webkit-scrollbar-thumb:vertical {
    height: 10px;
    background-color: #666;
    border: 1px solid #eee;
    -webkit-border-radius: 16px;
}

@media screen and (min-width:768px){
    .left-addon .glyphicon  {
        left:  3%;
        margin: 10.5px auto;
    }
    
    .profile-img-container {
        width: 150px;
        height: 150px;
    }

    .logout-button {
        margin-right: 1.5%;
    }

    .Segui {
        margin-top: 5%;
        width: 150px;
        height: 40px;
    }

    .Seguito {
        margin-top: 5%;
        width: 150px;
        height: 40px;
    }

    .counter{
        position: relative;
        left: 3%;
        top: 25px;
    }

    .bio-title{
        top:20%;
    }

    .biobio {
        font-size: large;
    }
    
}

@media screen and (min-width:1500px){
    .bio-title{
        top:40%;
    }
    
    .biobio {
        font-size: x-large;
    }
    
    .modifica-profilo {
        font-size: large;
        height: 45px;
    }

    .input-file-label {
        margin: 1% 8px;
    }
}